<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation Opening </title>
    <link rel="stylesheet" href="../../static/CSS/OpeningSeat.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img src="../../static/Images/Logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="ResturantView.html">Home</a></li>
            <li><a href="ReservationOpening.html">Reservation</a></li>
            <li><a href="AboutUsRest.html">About Us</a></li>
        </ul>
        <div class="dropdown">
            <div class="profile-icon">
                <img src="../../static/Images/user.png" alt="Profile Icon">
                <div class="dropdown-content">
                    <a href="RProfile.html">Profile</a>
                    <a href="#">Settings</a>
                    <a href="Rlogout.html">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <h1> Add the open seats </h1>
    <p> Add number of seats </p>

    <form action="/" method="post" >
        <input type="number" placeholder="Add number of Openings">
        <input type="date" placeholder="Date of Birth">
        <input type="time" placeholder="Time">
    </form>
    <button type="submit">Continue </button>

</header>

</body>
</html>