<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../CSS/RProfile.css">
</head>
<body>

<div class="profile-container">
    <a href="ResturantView.html"><button class="back-button">&lt; Back</button> </a>
    <form id="profileForm">
        <label for="profileImage">Update Profile Image:</label>
        <input type="file" id="profileImage" name="profileImage" accept="image/*">
        <div class="profile-info">
            <label for="name">Update Name:</label>
            <input type="text" id="name" name="name" placeholder="Your name...">
            <label for="website">Update Restaurant Website:</label>
            <input type="url" id="website" name="website" placeholder="Your restaurant's website...">
            <button type="submit">Update Profile</button>
        </div>
    </form>
</div>


</body>
</html>
