<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../CSS/homepage.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a href="Homepage.html">
                <img src="../Images/Logo.png" alt="Logo">
            </a>
        </div>

        <ul>
            <li><a href="Homepage.html">Home</a></li>
            <li><a href="Reservation.html">Reservation</a></li>
            <li><a href="Review.html">Review</a></li>
            <li><a href="Aboutus.html">About Us</a></li>
        </ul>
        <div class="dropdown">
            <div class="profile-icon">
                <img src="../Images/user.png" alt="Profile Icon">
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="../HTML/Logout.html">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

</div>
</body>
</html>

<main>
</main>

</body>
</html>
