<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../CSS/Aboutus.css">
</head>
<body>
<header>
    <h1> Welcome to GENU</h1>

    <nav>
        <div class="logo">
            <img src="../Images/Logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="ResturantView.html">Home</a></li>
            <li><a href="ReservationOpening.html">Reservation</a></li>
            <li><a href="AboutUsRest.html">About Us</a></li>
        </ul>
        <div class="dropdown">
            <div class="profile-icon">
                <img src="../Images/user.png" alt="Profile Icon">
                <div class="dropdown-content">
                    <a href="RProfile.html">Profile</a>
                    <a href="#">Settings</a>
                    <a href="Rlogout.html">Logout</a>
                </div>
            </div>
        </div>

    </nav>

    <h2>Platform for enhancing your business with better dining experiences!</h2>

    <p>Our mission is to seamlessly connect customers with restaurant, user-friendly system that caters to all your business needs for online use.</p>

    <p>Managing your restaurant has never been more efficient.
        GENU provides comprehensive tools to create and maintain a compelling profile for your establishment.
        Handle reservations effortlessly and engage with your customers by responding to their reviews.
        Our platform empowers you to build strong relationships with your clientele, ensuring they keep coming back.</p>

    <p>Utilize maps to provide accurate location details and directions.
        Secure and convenient online reservations and connection.
        Stay updated with reservation confirmations, reminders, and options for special offers.
        Share your uniqueness with ease with all that are connected with an app.</p>
    <h3>Join GENU today and become part of a vibrant community that brings restaurants and diners closer together.</h3>
    <p>Whether you’re a food lover looking for your next great meal, a restaurant owner aiming to grow your business, or an administrator ensuring everything runs smoothly, we’ve got you covered.</p>
</header>

</body>
</html>