/* Basic Styling */
body {
    background-image: url("../Images/first.jpg");
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
}


header {
  background-color: #f9e9de;
  padding: 30px 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo */
.logo img {
  height: 80px; /* Adjust height as needed */
}

/* Navigation Links */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

/* Profile Icon */
.profile-icon img {
  height: 55px; /* Adjust height as needed */
  border-radius: 80%;
}

/* Dropdown Button */
.profile-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Restaurant Info */
.restaurant-info {
  width: 30%; /* Adjust as needed */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9e9de;
}

/* Restaurant Container */
.restaurant-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.restaurant-info img {
  width: 100%; /* Makes the image responsive */
  height: auto;
}

.restaurant-info p, .rating {
  text-align: center;
  padding: 10px; /* Add padding */
}

/* Rating */
.rating {
  font-size: 2em;
  color: #f39c12; /* Adjust color as needed */
  padding: 10px; /* Add padding */
}


/* Reservation Button */
.restaurant-info button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.restaurant-info button:hover {
  background-color: #ddd;
  color: #333;
}

/* Search Bar */
.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
h2 {
    padding: 20px; /* Adjust as needed */
     background-color: #f9e9de;
}

/* Filter */
.filter-container select {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.profile-icon:hover .dropdown-content {display: block;}

/* Carousel */
.carousel img {
    width: 100%;
    height: auto;
}

/* Restaurant Description */
.restaurant-description {
    text-align: center;
    padding: 20px;
}


/* Main Content Area */
main {
  padding: 20px;
}

/* Footer */
